aiosqlite==0.16.1
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
ecdsa==0.14.1
fastapi==0.65.0
h11==0.12.0
iso8601==0.1.14
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.1
PyJWT==2.1.0
pypika-tortoise==0.1.0
python-jose==3.2.0
python-multipart==0.0.5
pytz==2020.5
rsa==4.7.2
six==1.16.0
starlette==0.14.2
tortoise-orm==0.17.2
typing-extensions==3.10.0.0
uvicorn==0.13.4
